* {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0; }

#space {
  height: 2000px; }

#nav {
  height: 66px;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.685);
  width: 100%;
  border-bottom: 1px solid white;
  z-index: 6; }
  #nav .icons {
    font-size: 2rem;
    margin: 0 0 0 20px; }
    #nav .icons a {
      color: white;
      margin: 0 10px 0 0;
      transition: .2s color ease; }
      #nav .icons a:hover {
        color: #aa8dc5 !important; }
  #nav .navbar {
    padding: 0 80px !important;
    z-index: 6; }
  #nav .logo {
    background-image: url(img/Volume.png);
    background-size: cover;
    height: 60px;
    width: 60px; }
  #nav .nav-link {
    color: whitesmoke !important;
    font-size: 1.2rem;
    margin: 0 20px;
    transition: color 0.3s ease;
    z-index: 6 !important; }
    #nav .nav-link:hover {
      color: #aa8dc5 !important; }

.displaynone {
  display: none; }

#head {
  font-weight: 500;
  z-index: 5;
  background: url(img/wombat.png) no-repeat center;
  width: 100%;
  height: 975px;
  padding: 350px 0 0 0; }
  #head .yoko {
    font-family: Raleway !important;
    position: relative;
    text-align: center;
    opacity: 0;
    animation: 6s yoko ease .5s forwards;
    padding: 38px 0 0 0;
    margin: 0 auto;
    width: 40%;
    z-index: 5;
    font-style: italic !important; }
    #head .yoko p {
      color: whitesmoke !important;
      text-shadow: 2px 1px 2px #1a1a1a;
      font-size: 2.2rem;
      z-index: 5 !important; }
  #head .headInfo {
    font-family: Raleway !important;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.644);
    color: white;
    text-align: center;
    width: 820px;
    height: 50%;
    border-radius: 25px;
    opacity: 0;
    animation: headFade 1s ease-in-out 6400ms forwards; }
    #head .headInfo h1 {
      font-size: 4rem;
      margin: 20px 0 50px 0; }
    #head .headInfo p {
      font-size: 1.1rem; }
    #head .headInfo span {
      color: #aa8dc5; }

#skills {
  font-family: Raleway !important;
  background-color: #f8f8f8;
  height: 720px; }
  #skills .skill-title {
    padding: 100px 0 0 0;
    text-align: center; }
    #skills .skill-title h1 {
      font-size: 1.5rem;
      letter-spacing: 0.05vw; }
    #skills .skill-title p {
      font-size: 1rem; }
  #skills .bigThree {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 400px;
    margin: 0 auto; }
    #skills .bigThree div {
      margin: 50px 0 0 0;
      text-align: center; }
      #skills .bigThree div img {
        height: 100px;
        width: auto; }
  #skills .skillGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    width: 55%;
    margin: 0 auto;
    text-align: center;
    padding: 80px 0 0 0; }
    #skills .skillGrid div {
      background-color: #aa8dc5;
      color: whitesmoke;
      padding: 10px;
      border-radius: 25px;
      border: 2px solid whitesmoke;
      transition: color .8s ease;
      transition: background-color 0.5s ease; }
      #skills .skillGrid div:hover {
        color: #aa8dc5;
        background-color: whitesmoke;
        border: 2px solid #aa8dc5;
        box-sizing: border-box; }
      #skills .skillGrid div i {
        padding-left: 10px;
        font-size: 1.2rem; }

#projects {
  font-family: Raleway !important;
  text-align: center;
  height: 975px;
  width: 55%;
  margin: 0 auto; }
  #projects h1 {
    padding: 80px 0 0 0;
    font-size: 1.6rem; }
  #projects p {
    padding-bottom: 10px;
    font-size: 16px; }
  #projects .projectGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    width: 100%; }
    #projects .projectGrid .project .pimg {
      height: 350px;
      width: 100%;
      border: 1px solid #3a0d46; }
      #projects .projectGrid .project .pimg:hover {
        transform: scale(1.1);
        transition: transform .3s ease; }
      #projects .projectGrid .project .pimg:active {
        transform: scale(1);
        transition: transform .1s; }
    #projects .projectGrid .modal-body .project-description {
      text-align: left;
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-column-gap: 20px;
      width: 80%;
      margin: 0 auto; }
    #projects .projectGrid .modal-body img {
      height: 500px;
      width: 90%;
      margin: 0 0 20px 0; }
    #projects .projectGrid .modal-body li {
      color: #aa8dc5; }
    #projects .projectGrid .modal-footer a {
      text-decoration: none;
      color: whitesmoke;
      background-color: #aa8dc5;
      padding: 8px 8px 5px 8px;
      border-radius: 25px; }
      #projects .projectGrid .modal-footer a:hover {
        transform: scale(1.05);
        transition: transform .3s ease-in-out; }

#connect {
  font-family: Raleway !important;
  height: 300px;
  background-color: #f8f8f8;
  margin: 0 auto;
  padding: 90px 20% 0 20%; }
  #connect .connectGrid {
    display: grid;
    grid-template-columns: 1fr 1fr; }
    #connect .connectGrid h4 {
      border-bottom: 1px solid #ececec;
      width: 250px;
      padding: 0 0 20px 0;
      margin: 0 0 20px 0; }
    #connect .connectGrid p {
      font-size: .8rem; }
    #connect .connectGrid .iconGrid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      margin: 20px 0 0 0; }
      #connect .connectGrid .iconGrid div {
        border: 2px solid #aa8dc5;
        width: 70px;
        height: 70px;
        transform: rotate(45deg); }
        #connect .connectGrid .iconGrid div:hover {
          background-color: #aa8dc5; }
        #connect .connectGrid .iconGrid div i {
          padding-top: 23px;
          padding-left: 22px;
          padding-right: 12px;
          padding-bottom: 23px;
          font-size: 30px;
          transform: rotate(-45deg); }
        #connect .connectGrid .iconGrid div a {
          color: #aa8dc5; }
          #connect .connectGrid .iconGrid div a:hover {
            color: white; }

#about {
  font-family: Raleway !important;
  margin: 0 auto;
  background-color: rgba(24, 11, 71, 0.952);
  height: 600px; }
  #about .aboutGrid {
    width: 60%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 150px 0 0 0; }
    #about .aboutGrid div h1 {
      color: rgba(255, 255, 255, 0.726);
      font-size: 1.5rem; }
    #about .aboutGrid div p {
      color: rgba(255, 255, 255, 0.829);
      font-size: 0.9rem;
      line-height: 1.5rem; }
    #about .aboutGrid div .contact {
      color: rgba(255, 255, 255, 0.829);
      font-size: 0.9rem;
      line-height: 1.5rem;
      width: 40%;
      margin: 0 auto; }
